<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title - Movie App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-secondary">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Movies", "Index", "Movies", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Movie list", "Index", "Movies")</li>
                    <li>@Html.ActionLink("Cinema list", "Index", "Cinemas")</li>
                    <li>@Html.ActionLink("Info", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div >
    <div class="container body-content">
        
        
        @RenderBody() <!-- To login form in Views/Home/Home.cshIndex.cshtml-->


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rafal Czarnecki ASP.NET MVC 5.0 Framework</p>
            <p>
                70% based on MS tutorial <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/adding-a-new-field">ENTUT1</a>
                30% based on MS tutorial <a href="http://lukaszkosiorowski.pl/programowanie/net/12-klucz-obcy-kurs-asp-net-mvc-5/">PLTUT2</a>
            </p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
